In [1]:
#Q1. A database is a structured collection of data. SQL databases use a structured query language for relational data (e.g., MySQL), while NoSQL databases (e.g., MongoDB) store and retrieve data in various ways, like documents, key-value pairs, or graphs.

In [1]:
 #Q2. DDL (Data Definition Language) defines and manages the structure of a database. CREATE is used to make a new table, ALTER modifies its structure, DROP deletes it, and TRUNCATE removes all data while keeping the structure intact. Example: CREATE TABLE Students (ID INT, Name VARCHAR(50));

In [3]:
#Q3. DML (Data Manipulation Language) handles data manipulation. INSERT adds records, UPDATE modifies existing records, and DELETE removes records. Example: INSERT INTO Customers (ID, Name) VALUES (1, 'John');

In [4]:
#Q4. DQL (Data Query Language) retrieves data. SELECT retrieves specific columns or all data from a table. Example: SELECT Name, Age FROM Employees;

In [7]:
#Q5. Primary Key uniquely identifies each record in a table (e.g., ID in Students). Foreign Key establishes a link between tables, referring to the Primary Key in another table to create relationships (e.g., StudentID in Courses referencing Students' ID).



Q6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
cur = mydb.cursor()
cur.execute("select * from test2556.testtabl8")
for i in cur.fetchall():
  print(i)
mydb.close()

In [6]:
''' Q7. Order of SQL clause execution:

FROM
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY
LIMIT/OFFSET (optional)
These clauses filter, group, and sort data sequentially in a SELECT query.'''

' Q7. Order of SQL clause execution:\n\nFROM\nWHERE\nGROUP BY\nHAVING\nSELECT\nDISTINCT\nORDER BY\nLIMIT/OFFSET (optional)\nThese clauses filter, group, and sort data sequentially in a SELECT query.'