In [2]:
#  https://drive.google.com/file/d/1c-JH0QloIirSUAxlYn2GUsoc8_tpJKMU/view

In [3]:
import pandas as pd

In [5]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
#answer
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
#answer
d_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_list= pd.Series(d_list)
series_list

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [17]:
#Q3. Create a Pandas DataFrame that contains the following data:
"""Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female"""


#Then, print the DataFrame.
#answer


data_json = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

dataframe=pd.DataFrame(data_json)
dataframe

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago

In [16]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""A DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types. It is similar to a table in a relational database or an Excel spreadsheet."""
"""A Series is a 1-dimensional labeled array capable of holding data of any type."""
# Creating a Series
series = pd.Series([1, 2, 3, 4])

# Creating a DataFrame
data = {'A': [1, 2, 3, 4], 'B': ['a', 'b', 'c', 'd']}
df = pd.DataFrame(data)

# Series vs DataFrame
print(series)

print(df)

0    1
1    2
2    3
3    4
dtype: int64
   A  B
0  1  a
1  2  b
2  3  c
3  4  d

In [15]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
"""head(): Displays the first few rows of the DataFrame.
tail(): Displays the last few rows of the DataFrame.
describe(): Generates summary statistics for numerical columns.
groupby(): Groups data based on a column and performs aggregate operations.
merge(): Combines two DataFrames based on common columns or keys."""

'head(): Displays the first few rows of the DataFrame.\ntail(): Displays the last few rows of the DataFrame.\ndescribe(): Generates summary statistics for numerical columns.\ngroupby(): Groups data based on a column and performs aggregate operations.\nmerge(): Combines two DataFrames based on common columns or keys.'

In [14]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
"""In pandas, both Series and DataFrame are mutable, meaning you can modify their data after creation. However, it's essential to note that some operations might return a new Series or DataFrame, leaving the original unchanged unless you use the inplace parameter to modify it in place."""

"In pandas, both Series and DataFrame are mutable, meaning you can modify their data after creation. However, it's essential to note that some operations might return a new Series or DataFrame, leaving the original unchanged unless you use the inplace parameter to modify it in place."

In [23]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.


# Create Series
series1 = pd.Series([1,9,2,5, 3,9,6,3,2,5,8])
series2 = pd.Series(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',])

# Create a DataFrame using the Series
data = {'Column1': series1, 'Column2': series2}
df = pd.DataFrame(data)

# Display the resulting DataFrame
print(df)

    Column1 Column2
0         1       A
1         9       B
2         2       C
3         5       D
4         3       E
5         9       F
6         6       G
7         3       H
8         2       I
9         5       J
10        8     NaN