In [10]:
import pandas as pd
import numpy as np

In [3]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

# Create a DataFrame from the lists
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Print the DataFrame
print(df)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [1]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

# loc and iloc are used to access data in a DataFrame. loc uses labels (row/column names), while iloc uses integer-based indexing

In [7]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
# Original DataFrame

import pandas as pd
import numpy as np

# Original DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Define the reindex order
reindex = [3, 0, 1, 2]

# Reindex the DataFrame and store it in new_df
new_df = df1.reindex(reindex)

# Access the third row using loc
loc_output = new_df.loc[2]

# Access the third row using iloc
iloc_output = new_df.iloc[2]

print("Output using new_df.loc[2]:")
print(loc_output)

print("\nOutput using new_df.iloc[2]:")
print(iloc_output)

Output using new_df.loc[2]:
column_1    0.769737
column_2    0.287511
column_3    0.824166
column_4    0.406220
column_5    0.456506
column_6    0.710245
Name: 2, dtype: float64

Output using new_df.iloc[2]:
column_1    0.618280
column_2    0.807683
column_3    0.827326
column_4    0.013756
column_5    0.767043
column_6    0.419348
Name: 1, dtype: float64

In [8]:
"""Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’"""

# (i) Calculate the mean of each column
column_means = df1.mean()

# (ii) Calculate the standard deviation of column 'column_2'
std_dev_column_2 = df1['column_2'].std()

print("Mean of each column:")
print(column_means)
print("\nStandard Deviation of 'column_2':", std_dev_column_2)

Mean of each column:
column_1    0.495725
column_2    0.647345
column_3    0.566033
column_4    0.263753
column_5    0.631609
column_6    0.315962
dtype: float64

Standard Deviation of 'column_2': 0.2683867949546601

In [13]:
"""Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]"""

# Create a DataFrame with random data
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replace the data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_data'

# Attempt to calculate the mean of 'column_2'
# This will raise a TypeError because the column contains a mix of data types (string and numeric)
mean_column_2 = df1['column_2'].mean()

TypeError: ignored

In [14]:
#Q6. What do you understand about the windows function in pandas and list the types of windows functions?

"""Window functions in Pandas are used for performing operations on a specific range or window of data within a DataFrame. They include types such as rolling, expanding, and exponential moving averages"""

'Window functions in Pandas are used for performing operations on a specific range or window of data within a DataFrame. They include types such as rolling, expanding, and exponential moving averages'

In [15]:
#Q7. Write a code to print only the current month and year at the time of answering this question.
# Get the current date and time
current_datetime = pd.Timestamp.now()

# Extract the current month and year
current_month = current_datetime.month
current_year = current_datetime.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 10
Current Year: 2023

In [16]:
"""Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result."""

# Function to calculate the time difference between two dates
def calculate_time_difference(date1, date2):
    # Convert input date strings to datetime objects
    date1 = pd.to_datetime(date1, format='%Y-%m-%d')
    date2 = pd.to_datetime(date2, format='%Y-%m-%d')

    # Calculate the time difference using timedelta
    time_difference = date2 - date1

    # Extract days, hours, and minutes from the time difference
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes = remainder // 60

    return days, hours, minutes

# Input dates from the user
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference
days_diff, hours_diff, minutes_diff = calculate_time_difference(date_str1, date_str2)

# Display the result
print(f"Time Difference: {days_diff} days, {hours_diff} hours, {minutes_diff} minutes")

Enter the first date (YYYY-MM-DD): 2000-12-25
Enter the second date (YYYY-MM-DD): 2000-12-30
Time Difference: 5 days, 0 hours, 0 minutes

In [17]:
"""Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data."""


# Function to read CSV, convert column, and display sorted data
def process_csv_file():
    # Prompt user for file path
    file_path = input("Enter the CSV file path: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please check the file path.")
        return

    # Display column names for user's reference
    print("Column Names in the CSV:")
    print(df.columns)

    # Prompt user for column name to convert
    column_name = input("Enter the name of the column to convert to categorical: ")

    # Check if the specified column exists
    if column_name not in df.columns:
        print(f"Column '{column_name}' not found in the CSV.")
        return

    # Prompt user for category order
    categories = input("Enter the category order (comma-separated): ").split(',')

    # Convert the specified column to categorical with specified category order
    df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)

    # Display sorted data based on the specified column
    sorted_df = df.sort_values(by=column_name)
    print("\nSorted Data:")
    print(sorted_df)

# Run the program
process_csv_file()

Enter the CSV file path: https://raw.githubusercontent.com/yashsahu27420/dataset/main/shopping_trends.csv
Column Names in the CSV:
Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')
Enter the name of the column to convert to categorical: Gender
Enter the category order (comma-separated): Age

Sorted Data:
      Customer ID  Age Gender Item Purchased     Category  \
0               1   55    NaN         Blouse     Clothing
1               2   19    NaN        Sweater     Clothing
2               3   50    NaN          Jeans     Clothing
3               4   21    NaN        Sandals     Footwear
4               5   45    NaN         Blouse     Clothing
...           ...  ...    ...            ...          ...
3895         3896   40    NaN         Hoodie     Clothing
3896         3897   52    NaN       Backpack  Accessories
3897         3898   46    NaN           Belt  Accessories
3898         3899   44    NaN          Shoes     Footwear
3899         3900   52    NaN        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status Payment Method   Shipping Type  \
0               3.1                 Yes    Credit Card         Express
1               3.1                 Yes  Bank Transfer         Express
2               3.1                 Yes           Cash   Free Shipping
3               3.5                 Yes         PayPal    Next Day Air
4               2.7                 Yes           Cash   Free Shipping
...             ...                 ...            ...             ...
3895            4.2                  No           Cash  2-Day Shipping
3896            4.5                  No         PayPal    Store Pickup
3897            2.9                  No    Credit Card        Standard
3898            3.8                  No         PayPal         Express
3899            3.1                  No  Bank Transfer    Store Pickup

     Discount Applied Promo Code Used  Previous Purchases  \
0                 Yes             Yes                  14
1                 Yes             Yes                   2
2                 Yes             Yes                  23
3                 Yes             Yes                  49
4                 Yes             Yes                  31
...               ...             ...                 ...
3895               No              No                  32
3896               No              No                  41
3897               No              No                  24
3898               No              No                  24
3899               No              No                  33

     Preferred Payment Method Frequency of Purchases
0                       Venmo            Fortnightly
1                        Cash            Fortnightly
2                 Credit Card                 Weekly
3                      PayPal                 Weekly
4                      PayPal               Annually
...                       ...                    ...
3895                    Venmo                 Weekly
3896            Bank Transfer              Bi-Weekly
3897                    Venmo              Quarterly
3898                    Venmo                 Weekly
3899                    Venmo              Quarterly

[3900 rows x 19 columns]